In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({"A": ["Leo + \n ","Luis","Celia","Xande"], "B": ["Leo","Luis","Celia","Xande"]})

In [5]:
df.ilo

       A      B
0    Leo    Leo
1   Luis   Luis
2  Celia  Celia
3  Xande  Xande